button{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.Circle{
    margin: 25px;
    height: 25px;
    width: 25px;
    border-radius: 60%;
    border:2px solid black;
   
}
.Rectangle{
    margin: 25px;
    height: 25px;
    width: 25px;
    border:2px solid black;

}