
<div>
    <div class="row"></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-2">
        <div class="row">
            <button (click)="Line=true">
                <div><svg height="33" width="60">
                        <line x1="5" y1="5" x2="50" y2="35" style="stroke:rgb(8, 8, 8);stroke-width:2" /></svg></div>
                Line
            </button>
        </div>
        <div class="row">
            <button (click)="Circle=true">
                <div class="Circle"></div>Circle
            </button>
        </div>
        <div class="row">
            <button (click)="Rectangle=true">
                <div class="Rectangle"></div>Rectangle
            </button>
        </div>
    </div>
    <div class="row">
        <div style="position: relative;">
            <img [(src)]="img.imageToShow" width="400px" height="400px" style="position: absolute;">
            <canvas #canvasShapes width="400px" height="400px"
                style="border:1px solid  black;position: absolute;"></canvas>
            <canvas #canvasImg width="400px" height="400px"
                style="border:1px solid  black;position: absolute;"></canvas>
        </div>
        <div class="row">

            <button>Save</button>
            <button>Cancel</button>
        </div>
    </div>
    <button type="button" (click)="AddTextBox()">Add a text box</button>
