<body><div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-7 " style=" left: 30%;
        right: 30%;
        width: 30%; ">
    </div>
    <div class="fileUpload button">
        <span>Upload</span>
        <input type="file" class="upload" (change)="readURL($event)" name="LoadDocument" #LoadDocument />
    </div>
</div>
<div *ngIf=uploud>
    <img [(src)]="img.imageToShow" height="30%" width="30%">
</div>
</body>
