<body>

    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">About</a>
        <a [routerLink]="['/Menu/Upload']">Upload photo</a>
        <a [routerLink]="['/Menu/List']">List of photos</a>
        <a href="#">Contact</a>
      </div>
    </div>
    
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span>
    </body>
    <router-outlet></router-outlet>
