<body>
  <div class="w3-container w3-center">
    <form (ngSubmit)="continue()" #userFrom="ngForm">
      <div id="id01" class="modal col-xs-4 form-group">
        <div class="modal-content animate">
          <div class="padd">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <label class="pull-right"><b class="blue">הכנס כתובת מייל</b></label>
                  <input type="text" class="form-control" placeholder="הכנס כתובת מייל" name="userName"
                    #username="ngModel" [(ngModel)]="newUser.userName" email required>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <div style="height: 8px" class="error">
                    <div *ngIf="username.invalid&& (username.dirty || username.touched)">
                      <div *ngIf="username.errors.required">
                        חובה להכניס כתובת מייל
                      </div>
                      <div *ngIf="username.errors.email">
                        כתובת מייל חייבת להיות תקנית
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <label class="pull-right"><b class="blue">הכנס סיסמה חדשה</b></label>
                  <input type="password" class="form-control" placeholder="הכנס סיסמה" pInputText name="password"
                    [(ngModel)]="newUser.password" #password="ngModel" minlength="6" required>
                </div>
                <div class="col-xs-2"></div>
              </div>
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <div style="height: 8px" class="error">
                    <div *ngIf="password.invalid&& (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required">
                        חובה להכניס סיסמה </div>
                      <div *ngIf="password.errors.minlength">
                        אורך סיסמה מינימום 6 תווים

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <label class="pull-right"><b class="blue">הכנס אימות סיסמה </b></label>
                  <input type="password" class="form-control" placeholder="הכנס אימות סיסמה" pInputText
                    name="PasswordAuthentication" [(ngModel)]="password1" #PasswordAuthentication="ngModel"
                    minlength="6" required (blur)="checkpassoword()">
                </div>
                <div class="col-xs-2"></div>
              </div>
              <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-7">
                  <div style="height: 8px" class="error">
                    <div
                      *ngIf="PasswordAuthentication.invalid&& (PasswordAuthentication.dirty || PasswordAuthentication.touched)">
                      <div *ngIf="PasswordAuthentication.errors.required">
                        חובה להכניס סיסמה </div>
                      <!-- <div *ngIf="PasswordAuthentication.errors.minlength">
                        אורך סיסמה מינימום 6 תווים
                      </div> -->
                    </div>
                    <div *ngIf="checkpassowordboolean">
                      אימות סיסמה לא נכון
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-7">
                <button type="submit">Login</button>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>